body{
  background-color: rgb(255, 245, 237);;
}
@font-face{
    font-family: 'Poetsen One';
    src: url('/OFL.txt')format('txt');
}

.img-container {
    max-width: 500px; 
    max-height: 500px; 
    margin: 0; 
  }
  .text-responsive {
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .text-responsive {
      font-size: 1.25rem;
    }
  }
  
  @media (min-width: 992px) {
    .text-responsive {
      font-size: 1.5rem;
    }
    
  }
  h1{
    font-family: 'Poetsen One';
  }
  h2{
    font-family: 'Poetsen One';

  }
  h3{
    font-family: 'Poetsen One';
  }
.men{
  font-size: 10px;
  font-family:'Times New Roman', Times, serif;
}
.men1{
  font-size: 25px;
}
.men2{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}
.men3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
.men5{
  font-family: 'Times New Roman', Times, serif;
}
/* Welcome Section */
.Bienvenida {
  padding: 60px 0;
  text-align: center;
}

.Bienvenida .img-container {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bien{
  font-family: 'Times New Roman', Times, serif;
}

/* Historia Section */
.carousel-item img {
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .histo .row {
      flex-direction: column;
      text-align: center;
  }
  .contenedortext, .carousel-inner, .carousel-item {
      height: auto;
  }
  .contenedortext {
      margin-bottom: 1rem;
      order: 2;
  }
  .carousel-inner {
      order: 3;
  }
  .titu {
      order: 1;
  }
  .lead.text-responsive {
      font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  .lead.text-responsive {
      font-size: 12px;
  }
}

/* Footer */
.footer {
  background-color: #582c00;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.text-center-foot{
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}

.product-item:hover .product-info {
  opacity: 1;
}
p{
  font-size:xx-small;
}
.p1{
  font-size: medium;
}
@media (min-width: 992px) {
  .p{
    font-size:medium ;
  }
  }
  .contenedortext{
  width: 50%; 
  max-width: 90%; 
  margin: 0 auto; 
  }
  @media (min-width: 992px) {
    .contenedortext{
      width: 90%;
      height: 300px;
    }
    }
  @media (max-width: 550px) {
      .p1{
        font-size: small;
      }      
  }


/*productos*/


.product-img-container {
  position: relative;
  width: 200px; /* Tamaño deseado */
  height: 200px; /* Tamaño deseado */
  overflow: hidden;
}

.product-img-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Transición para el efecto de encojimiento */
}

.product-img-container:hover img {
  transform: scale(0.95); /* Reducción del tamaño al pasar el cursor */
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para que los elementos se coloquen uno encima del otro */
}

.overlay-text {
  color: white;
  text-align: center;
  margin-bottom: 15px; /* Espacio entre el mensaje y el botón */
  font-size: 15px;
  font-family:'Times New Roman', Times, serif ;
}

.product-item:hover .overlay {
  opacity: 1;
}

.stars {
  color: rgb(183, 183, 183);
  font-size: 24px;
  margin-top: 10px;
}
/*reseñas*/
@media (max-width: 767.98px) {
  .histo .row {
      flex-direction: column;
      text-align: center;
  }
  .contenedortext, .carousel-inner, .carousel-item {
      height: auto;
  }
  .contenedortext {
      margin-bottom: 1rem;
      order: 2;
  }
  .carousel-inner {
      order: 3;
  }
  .titu {
      order: 1;
  }
  .lead.text-responsive {
      font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  .lead.text-responsive {
      font-size: 12px;
  }
}
.card-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}
.text-end{
  font-size: small;
  font-family: 'Times New Roman', Times, serif;
}
.card-body{
  font-family: 'Times New Roman', Times, serif;
}
.navbar{
  font-family: 'Times New Roman', Times, serif;
}
.card-body-coment{
  color: #321900;
  background-color: rgb(255, 208, 162);;
}